<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
   </configSections>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
   <log4net>
      <appender name="RollingFile" type="log4net.Appender.FileAppender">
         <file value="logs\app.log" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
         </layout>
      </appender>
      <root>
         <level value="ALL" />
         <appender-ref ref="RollingFile" />
      </root>
   </log4net>
   <appSettings>
      <add key="Kahua.Env.Production" value="https://integration.kahua.com/" />
      <add key="Kahua.Env.devProduction" value="https://devproductionintegration.kahua.com/" />
      <add key="Kahua.Env.devSandbox" value="https://devsandboxintegration.kahua.com/" />
      <add key="Kahua.Env.devUpdate" value="https://devupdateintegration.kahua.com/" />
      <add key="Kahua.Env.devNext" value="https://devnextintegration.kahua.com/" />
      <add key="Kahua.Env.devMain" value="https://devmainintegration.kahua.com/" />
      <add key="Test" value="https://devmainintegration.kahua.com/" />
   </appSettings>
</configuration>